@model ResetPassword
@{
    ViewData["Title"] = "Change Password";
    string controller = this.ViewContext.RouteData.Values["controller"].ToString();
}

<!-- Content Start -->
<div class="content-wrapper">
    <!-- Heading Start -->
    <section class="heading">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/@controller/index">ผู้ใช้งานระบบ</a></li>
            <li class="breadcrumb-item active">เปลี่ยนรหัสผ่าน</li>
        </ul>
        <h2 class="mb-2"><i class="mdi mdi-account-settings-variant"></i>เปลี่ยนรหัสผ่าน</h2>
        <div class="titles">
            @await Html.PartialAsync(PartialView.StatusMessage, TempData[StaticString.StatusMessage])
        </div>
    </section><!-- Heading End -->
    <div class="row">
        <div class="col-12">
            <form asp-controller="Membership" asp-action="SubmitChangePassword" method="post">
                <article class="card mb-4">
                    <div class="card-header">
                        <h4 class="card-title mb-0">รายละเอียดผู้ใช้งานระบบ</h4>
                    </div>
                    <div class="card-body">
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="UserName">ผู้ใช้</label>
                            <input asp-for="UserName" class="form-control" disabled />
                        </div>
                        <div class="form-group">
                            <label asp-for="NewPassword">รหัสผ่านใหม่</label>
                            <input asp-for="NewPassword" class="form-control" autocomplete="new-password" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword">ยืนยันรหัสผ่าน</label>
                            <input asp-for="ConfirmPassword" class="form-control" autocomplete="off" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="/Membership/Index" class="btn btn-default">ย้อนกลับ</a>
                        <button type="submit" class="btn btn-primary">เปลี่ยนรหัสผ่าน</button>
                    </div>
                </article>
            </form>
        </div>
    </div>
</div>
<!-- Content End -->

@section Styles{

}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

