@using Microsoft.AspNetCore.Identity
@model IdentityUser

@{
    ViewData["Title"] = "แก้ไขข้อมูลผู้ใช้";
    string controller = this.ViewContext.RouteData.Values["controller"].ToString();
}

<!-- Content Start -->
<div class="content-wrapper">
    <!-- Heading Start -->
    <section class="heading">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/@controller/index">ผู้ใช้งานระบบ</a></li>
            <li class="breadcrumb-item active">ข้อมูลผู้ใช้</li>
        </ul>
        <h2 class="mb-2"><i class="mdi mdi-account-settings-variant"></i>@ViewData["Title"]</h2>
        <div class="titles">
            @await Html.PartialAsync(PartialView.StatusMessage, TempData[StaticString.StatusMessage])
        </div>
    </section><!-- Heading End -->
    <div class="row">
        <div class="col-12">
            <form asp-controller="Membership" asp-action="SubmitChangeProfile" method="post">
                <article class="card mb-4">
                    <div class="card-header">
                        <h4 class="card-title mb-0">ปรับปรุงข้อมูลผู้ใช้งานระบบ</h4>
                    </div>
                    <div class="card-body">
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="UserName">ผู้ใช้</label>
                            <input asp-for="UserName" class="form-control" disabled />
                        </div>
                        <div class="form-group">
                            <label asp-for="Email">อีเมล์</label>
                            <div class="input-group">
                                <input asp-for="Email" class="form-control" />
                                <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                            </div>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNumber">หมายเลขโทรศัพท์</label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Active</label>
                            <div class="form-check">
                                <label class="custom-checkbox variation3 mb-0">
                                    <input asp-for="EmailConfirmed" class="form-check-input" />
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="/Membership/Index" class="btn btn-default">ย้อนกลับ</a>
                        <button type="submit" class="btn btn-primary">บันทึก</button>
                    </div>
                </article>
            </form>
        </div>
    </div>
</div>
<!-- Content End -->

@section Styles{

}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

