@using vds.ViewModels
@model Register

@{
    ViewData["Title"] = "Register";
    string controller = this.ViewContext.RouteData.Values["controller"].ToString();
    bool sendemail = true;
}

<!-- Content Start -->
<div class="content-wrapper">
    <!-- Heading Start -->
    <section class="heading">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/@controller/index">ผู้ใช้งานระบบ</a></li>
            <li class="breadcrumb-item active">ลงทะเบีนผู้ใช้</li>
        </ul>
        <h2 class="mb-2"><i class="mdi mdi-account-settings-variant"></i> ลงทะเบียนผู้ใช้งาน</h2>
        <div class="titles">
            @await Html.PartialAsync(PartialView.StatusMessage, TempData[StaticString.StatusMessage])
        </div>
    </section><!-- Heading End -->
    <div class="row">
        <div class="col-12">
            <form asp-controller="Membership" asp-action="SubmitRegister" method="post">
                <article class="card mb-4">
                    
                    <div class="card-body">

                        <div class="form-group">
                            <label asp-for="UserTypeId"></label>
                            <div class="input-group">
                                <select asp-for="UserTypeId" class="select2 form-control" asp-items="ViewBag.UserTypeId"></select>
                                <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                            </div>
                            <span asp-validation-for="UserTypeId" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <div class="input-group">
                                <input asp-for="Email" class="form-control" autocomplete="off" />
                                <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                            </div>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNumber"></label>
                            <input asp-for="PhoneNumber" class="form-control" autocomplete="off" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Active</label>
                            <div class="form-check">
                                <label class="custom-checkbox variation3 mb-0">
                                    <input asp-for="EmailConfirmed" class="form-check-input" />
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" autocomplete="new-password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" class="form-control" autocomplete="off" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>ส่งอีเมล์อัตโนมัติ เพื่อแจ้งผู้ใช้ที่กำหนด</label>
                            <div class="form-check">
                                <label class="custom-checkbox variation3 mb-0">
                                    <input asp-for="@sendemail" class="form-check-input" />
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                        </div>
                        
                    </div>
                    <div class="card-footer">
                        <a href="/Membership/Index" class="btn btn-default">ย้อนกลับ</a>
                        <button type="submit" class="btn btn-primary">บันทึก</button>
                    </div>
                </article>
            </form>
        </div>
    </div>
</div>
<!-- Content End -->

@section Styles{

}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

