<!-- Footer Start -->
<footer>
    <p>Delveloped By Asp.Net Core &copy; 2020 <a href="#" target="_blank">VDS</a>. All rights reserved.</p>
    <div class="d-inline-block">
        <button type="button" class="btn-outline-fb btn-social-outline  mr-2">
            <i class="mdi mdi-facebook"></i>
        </button>
        <button type="button" class="btn-outline-tw btn-social-outline  mr-2">
            <i class="mdi mdi-twitter"></i>
        </button>


    </div>
</footer>
<!-- Footer End -->