@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "เปลี่ยนรหัสผ่าน";
}



<!-- Content Start -->
<div class="content-wrapper">
    <!-- Heading Start -->
    <section class="heading">
        <h1 class="mb-2">@ViewData["Title"]</h1>
        <div class="titles">
            <partial name="_StatusMessage" for="StatusMessage" />
        </div>
    </section><!-- Heading End -->
    <div class="row">
        <div class="col-12">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">ป้อนข้อมูลรหัสผ่านเดิม และรหัสผ่านใหม่</h4>
                    <div class="table-responsive">
                        <form id="change-password-form" method="post">
                            <div class="form-group">
                                <label asp-for="Input.OldPassword">รหัสผ่านเดิม</label>
                                <input asp-for="Input.OldPassword" class="form-control" />
                                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.NewPassword">รหัสผ่านใหม่</label>
                                <input asp-for="Input.NewPassword" class="form-control" />
                                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.ConfirmPassword">ยืนยันรหัสผ่านใหม่</label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">บันทึก</button>
                        </form>
                    </div>
                </div>
            </article>
        </div>

    </div>
</div>
<!-- Content End -->

@section Styles{

}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}