@model Coordinator
@{
    string controller = this.ViewContext.RouteData.Values["controller"].ToString();
    string action = this.ViewContext.RouteData.Values["action"].ToString();
    string modelName = "ผู้ประสานงาน";
    ViewData["Title"] = modelName;
    bool IsNew = ViewBag.IsNew;
    string strCaption = IsNew ? "เพิ่มข้อมูล" : "แก้ไขข้อมูล";
    string userTypeId = TempData["userTypeId"] != null ? TempData["userTypeId"].ToString() : null;

}

<!-- Content Start -->
<div class="content-wrapper">
    <!-- Heading Start -->
    <section class="heading">
        <ul class="breadcrumb">
            @if (userTypeId == "1")
            {
                <li class="breadcrumb-item"><a href="javascript:void(0)">ผู้ประสานงาน</a></li>
            }
            else
            {
                <li class="breadcrumb-item"><a href="/@controller/index">ผู้ประสานงาน</a></li>
            }
            <li class="breadcrumb-item active">รายละเอียด</li>
        </ul>
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="mb-2"><i class="mdi mdi-account-multiple"></i> @modelName</h2>
            <div class="btn-toolbar mb-0 d-none d-sm-block" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-3" role="group" aria-label="First group">
                    <!-- Rounded switch -->
                    <label class="switch">
                        <input id="chbEdit" name="chbEdit" onclick="ChangeMode(this)" type="checkbox">
                        <span class="slider round"></span>
                    </label>

                </div>
                <label for="chbEdit">@strCaption</label>
            </div>
        </div>
        <div class="titles">
            @await Html.PartialAsync(PartialView.StatusMessage, TempData[StaticString.StatusMessage])
        </div>
    </section><!-- Heading End -->
    <div class="row">
        <div class="col-12">
            <form asp-controller="@controller" asp-action="Submit@(action)" enctype="multipart/form-data">
 

                <article class="card mb-4">
                    <div class="card-header">
                        <h4 class="card-title mb-0">ข้อมูลบุคคล</h4>
                    </div>
                    <div class="card-body">
                        <input type="hidden" asp-for="CoordinatorId" />

                        <div class="row">
                            <div class="col-4">
                                <label asp-for="ImageData"></label>
                                <div class="form-group">

                                    <img id="logoImage" src="@ViewBag.ImageDataUrl" class="thumb" alt="Profile Image" asp-append-version="true" title="คลิกเพื่อขยายภาพ" onclick="myClick(this)" />

                                    <div>
                                        <input type="file" id="real-file" name="file" hidden="hidden" />
                                        <button type="button" class="btn btn-primary x" style="width:50%" id="custom-button">เลือกไฟล์รูปภาพ</button>
                                        <span id="custom-text" hidden>-ชื่อไฟล์รูปภาพ-</span>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="PrefixTypeId"></label>
                                    <div class="input-group">
                                        <select asp-for="PrefixTypeId" class="select2 form-control x" asp-items="ViewBag.PrefixType"></select>
                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                    </div>
                                    <span asp-validation-for="PrefixTypeId" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="FirstName"></label>
                                    <div class="input-group">
                                        <input asp-for="FirstName" class="form-control x" />
                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                    </div>
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="LastName"></label>
                                    <div class="input-group">
                                        <input asp-for="LastName" class="form-control x" />
                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                    </div>
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>

                        </div>


                        <div class="row">

                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="Email"></label>
                                    <div class="input-group">
                                        <input asp-for="Email" class="form-control x" />
                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                    </div>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="Phone"></label>
                                    <div class="input-group">
                                        <input asp-for="Phone" class="form-control x" />
                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                    </div>
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="Address1"></label>
                            <div class="input-group">
                                <input asp-for="Address1" class="form-control x" />
                                <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                            </div>
                            <span asp-validation-for="Address1" class="text-danger"></span>
                        </div>


                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="SubDistrict"></label>
                                    <div class="input-group">
                                        <input id="subdistrict" asp-for="SubDistrict" class="form-control x" />
                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                    </div>
                                    <span asp-validation-for="SubDistrict" class="text-danger"></span>
                                </div>
                            </div>


                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="District"></label>
                                    <div class="input-group">
                                        <input id="district" asp-for="District" class="form-control x" />
                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                    </div>
                                    <span asp-validation-for="District" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="Province"></label>
                                    <div class="input-group">
                                        <input id="province" asp-for="Province" class="form-control x" />
                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                    </div>
                                    <span asp-validation-for="Province" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="ZipCode"></label>
                                    <div class="input-group">
                                        <input id="zipcode" asp-for="ZipCode" class="form-control x" />
                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                    </div>
                                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="card mb-4">
                    <div class="card-header">
                        <h4 class="card-title mb-0">ข้อมูลหน่วยงาน</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="HospitalId"></label>
                                    <div class="input-group">
                                        <select asp-for="HospitalId" class="select2 form-control x" asp-items="ViewBag.Hospital"></select>
                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                    </div>
                                    <span asp-validation-for="HospitalId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="DesignationId"></label>
                                    <div class="input-group">
                                        <select asp-for="DesignationId" class="select2 form-control x" asp-items="ViewBag.Designation"></select>
                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                    </div>
                                    <span asp-validation-for="DesignationId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="DepartmentId"></label>
                                    <div class="input-group">
                                        <select asp-for="DepartmentId" class="select2 form-control x" asp-items="ViewBag.Department"></select>
                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                    </div>
                                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                                </div>
                            </div>

                        </div>





                    </div>
                </article>



                <article class="card mb-4">
                    <div class="card-header">
                        @{
                            if (ViewBag.userTypeId == "1")
                            {
                                <a href="javaScript:void(0)" class="btn btn-default">ย้อนกลับ</a>
                            }
                            else
                            {
                                <a href="/@controller/Index" class="btn btn-default">ย้อนกลับ</a>
                            }
                        }
                        <button type="submit" class="btn btn-primary x">บันทึก</button>
                    </div>
                </article>
            </form>
        </div>
    </div>

    <!-- The Modal -->

    <div id="myModal" class="modal-img">
        <span id="myClose" class="close-img">&times;</span>
        <img class="modal-content-img" id="img01">
        <div id="caption-img"></div>
    </div>


</div>
<!-- Content End -->

@section Styles{

    <!-- ================== MODAL IMAGE  ================== -->
    <link rel="stylesheet" href="~/css/modal_image.css" />
    <!-- ================== BEGIN PAGE LEVEL END ================== -->


    <style>
        /* The switch - the box around the slider */
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

            /* Hide default HTML checkbox */
            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

        /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

            .slider.round:before {
                border-radius: 50%;
            }
    </style>


    <style>

        custom-button {
            padding: 10px;
            color: white;
            background-color: #009578;
            border: 1px solid #000;
            border-radius: 5px;
            cursor: pointer;
        }

        #custom-button:hover {
            background-color: #00b28f;
        }

        #custom-text {
            margin-left: 10px;
            font-family: sans-serif;
            color: #aaa;
        }

        #logoImage {
            width: 50%;
            height: auto;
            border: 1px solid #555;
            margin-top: 0px;
            margin-bottom: 10px;
        }
    </style>


}

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
    <script>
        $.Thailand({
            database: '/jquery.Thailand.js/database/db.json', // path หรือ url ไปยัง database
            $district: $('#subdistrict'), // input ของตำบล
            $amphoe: $('#district'), // input ของอำเภอ
            $province: $('#province'), // input ของจังหวัด
            $zipcode: $('#zipcode'), // input ของรหัสไปรษณีย์
        });

    </script>


    <script>

        const realFileBtn = document.getElementById("real-file");
        const customBtn = document.getElementById("custom-button");
        const customTxt = document.getElementById("custom-text");
        const myimage = document.getElementById("logoImage");

        customBtn.addEventListener("click", function () {
            realFileBtn.click();
        });

        realFileBtn.addEventListener("change", function () {
            if (realFileBtn.value) {
                customTxt.innerHTML = realFileBtn.value.match(
                    /[\/\\]([\w\d\s\.\-\(\)]+)$/
                )[1];

                myimage.src = window.URL.createObjectURL(this.files[0]);
            } else {
                customTxt.innerHTML = "-ชื่อไฟล์รูปภาพ-";
                myimage.src = "/assets/images/noimage.png";
            }
        });



        if (('@IsNew').value == true) {

            $('.x').prop('disabled', false);
            $('#chbEdit').prop('disabled', true);
        }
        else {
            $('.x').prop('disabled', true);
            $('#chbEdit').prop('disabled', false);
        }


        function ChangeMode(e) {

            if (e.checked) {

                $('.x').prop('disabled', false);

            }
            else {

                $('.x').prop('disabled', true);
            }
        }

    </script>

    <script>

        // Get the modal Image  =======================================================

        var modal = document.getElementById("myModal");
        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption-img");

        function myClick(e) {

            modal.style.display = "block";
            modalImg.src = e.src;
            captionText.innerHTML = e.alt;

        }

        // Get the <span> element that closes the modal
        var span = document.getElementById("myClose");
        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
                //  End Get the modal Image ==================================================

    </script>

}


