@model Employee
@{
    string controller = this.ViewContext.RouteData.Values["controller"].ToString();
    string action = this.ViewContext.RouteData.Values["action"].ToString();
    string modelName = "Employee";
    ViewData["Title"] = modelName + " Form";

    //period
    string period = this.Context.Request.Query["period"].ToString();
    if (String.IsNullOrEmpty(period))
    {
        period = DateTime.Now.ToString("yyyy-MM");
    }
}

<!-- Content Start -->
<div class="content-wrapper">
    <!-- Heading Start -->
    <section class="heading">
        <h2 class="mb-2"><i class="mdi mdi-apps"></i> Self Service | Employee Profile</h2>
        <div class="titles">
            @await Html.PartialAsync(PartialView.StatusMessage, TempData[StaticString.StatusMessage])
        </div>
    </section><!-- Heading End -->
    <div class="row mb-2">
        <a href="/SelfService/Index?period=@period" class="btn btn-primary btn-outline btn-sm ml-4">
            <i class="mdi mdi-reply"></i>
            <span class="align-middle">Back</span>
        </a>
    </div>
    <div class="row">
        <div class="col-12">
            <form asp-controller="@controller" asp-action="Submit@(action)" method="post">

                <article class="card mb-4">
                    <div class="card-header">
                        <h4 class="card-title mb-0">This is your profile: @(Model.FirstName + " " + Model.LastName + " | " + Model.Designation.Name)</h4>
                    </div>
                </article>

                <article class="card mb-4">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Basic Info</h4>
                    </div>
                    <div class="card-body">
                        <input type="hidden" asp-for="EmployeeId" />
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="FirstName"></label>
                                    <div class="input-group">
                                        <input disabled asp-for="FirstName" class="form-control" />
                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                    </div>
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="LastName"></label>
                                    <div class="input-group">
                                        <input disabled asp-for="LastName" class="form-control" />
                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                    </div>
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="Gender"></label>
                                    <div class="input-group">
                                        <select disabled asp-for="Gender" class="select2 form-control" asp-items="ViewBag.Gender"></select>
                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                    </div>
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        @*<div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="DateOfBirth"></label>
                                    <div class="input-group">
                                        <input disabled type="text" id="DateOfBirth" name="DateOfBirth" value="@Model.DateOfBirth.ToString("yyyy-MM-dd")" class="datepicker form-control" data-val="true" data-val-required="The DateOfBirth field is required.">
                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                    </div>
                                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                </div>
                            </div>
                            
                        </div>*@

                        <div class="row">
                           
                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="Email"></label>
                                    <div class="input-group">
                                        <input disabled asp-for="Email" class="form-control" />
                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                    </div>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="Phone"></label>
                                    <div class="input-group">
                                        <input disabled asp-for="Phone" class="form-control" />
                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                    </div>
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="Address1"></label>
                            <div class="input-group">
                                <input disabled asp-for="Address1" class="form-control" />
                                <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                            </div>
                            <span asp-validation-for="Address1" class="text-danger"></span>
                        </div>
                    

                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="District"></label>
                                    <div class="input-group">
                                        <input disabled asp-for="District" class="form-control" />
                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                    </div>
                                    <span asp-validation-for="District" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="Province"></label>
                                    <div class="input-group">
                                        <input disabled asp-for="Province" class="form-control" />
                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                    </div>
                                    <span asp-validation-for="Province" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="ZipCode"></label>
                                    <div class="input-group">
                                        <input disabled asp-for="ZipCode" class="form-control" />
                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                    </div>
                                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>




                    </div>

                </article>

                <article class="card mb-4">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Staff Info</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            @*<label asp-for="EmployeeIDNumber"></label>
                            <div class="input-group">
                                <input disabled asp-for="EmployeeIDNumber" class="form-control" />
                                <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                            </div>
                            <span asp-validation-for="EmployeeIDNumber" class="text-danger"></span>*@
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="DesignationId"></label>
                                    <div class="input-group">
                                        <select disabled asp-for="DesignationId" class="select2 form-control" asp-items="ViewBag.Designation"></select>
                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                    </div>
                                    <span asp-validation-for="DesignationId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="DepartmentId"></label>
                                    <div class="input-group">
                                        <select disabled asp-for="DepartmentId" class="select2 form-control" asp-items="ViewBag.Department"></select>
                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                    </div>
                                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                                </div>
                            </div>
                           
                        </div>

 
                    </div>
                </article>

                <article class="card mb-4">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Salary Info</h4>
                    </div>
                    
                </article>

                <article class="card mb-4">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Bank Account Info</h4>
                    </div>
                 
                </article>

                <article class="card mb-4">
                    <div class="card-header">
                        <h4 class="card-title mb-0">System User Account Info</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                      
                        </div>
                    </div>

                </article>

                <article class="card mb-4">
                    <div class="card-header">
                        <a href="/@controller/Index?period=@period" class="btn btn-default">Back</a>
                        <button type="submit" class="btn btn-primary" hidden>Save</button>
                    </div>
                </article>
            </form>
        </div>

    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4"><i class="mdi mdi-library-books md-18 mr-2"></i> Quick Guide</h4>
                    <blockquote class="blockquote blockquote-primary">
                        <p class="mb-3">
                            Employee Profile module will display your detail information as an employee.
                        </p>
                        <h5 class="card-title mb-4">Specific Profile Category:</h5>
                        <ul class="list list-circle mb-3">
                            <li>Basic Info</li>
                            <li>Staff Info</li>
                            <li>Salary Info</li>
                            <li>Bank Account Info</li>
                            <li>System User Account Info</li>
                        </ul>
                        <h5>
                            <i class="mdi mdi-lightbulb-on-outline"></i> Tips
                        </h5>
                        <p>
                            The profile is readonly, submit a ticket to request profile data adjustment.
                        </p>
                        <footer class="blockquote-footer text-primary">
                            Summary
                        </footer>
                    </blockquote>

                </div>
            </article>
        </div>
    </div>
</div>
<!-- Content End -->

@section Styles{

}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


