@model Appraisal
@{
    ViewData["Title"] = "Appraisal";
    string period = this.Context.Request.Query["period"].ToString();
    if (String.IsNullOrEmpty(period))
    {
        period = DateTime.Now.ToString("yyyy-MM");
    }
}

<!-- Content Start -->
<div class="content-wrapper">
    <!-- Heading Start -->
    <section class="heading">
        <h2 class="mb-2"><i class="mdi mdi-counter"></i> @ViewData["Title"]</h2>
        <div class="titles">
            @await Html.PartialAsync(PartialView.StatusMessage, TempData[StaticString.StatusMessage])
        </div>
    </section><!-- Heading End -->
    <div class="row">
        <div class="col-12">
            <form asp-controller="Appraisal" asp-action="SubmitForm" method="post">
                <article class="card mb-4">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Create or edit existing Appraisal item</h4>
                    </div>
                    <div class="card-body">
                        <input type="hidden" asp-for="AppraisalId" />
                        <div class="form-group">
                            <label asp-for="AppraisalName"></label>
                            <div class="input-group">
                                <input asp-for="AppraisalName" class="form-control" />
                                <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                            </div>
                            <span asp-validation-for="AppraisalName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description"></label>
                            <div class="input-group">
                                <input asp-for="Description" class="form-control" />
                                <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                            </div>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AppraisalTypeId"></label>
                            <div class="input-group">
                                <select asp-for="AppraisalTypeId" class="select2 form-control" asp-items="ViewBag.AppraisalType"></select>
                                <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                            </div>
                            <span asp-validation-for="AppraisalTypeId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SubmitDate"></label>
                            <div class="input-group">
                                <input type="text" id="SubmitDate" name="SubmitDate" value="@Model.SubmitDate.ToString("yyyy-MM-dd")" class="datepicker form-control" data-val="true" data-val-required="The SubmitDate field is required.">
                            </div>
                            <span asp-validation-for="SubmitDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="OnBehalfId"></label>
                            <div class="input-group">
                                <select asp-for="OnBehalfId" class="select2 form-control" asp-items="ViewBag.OnBehalf"></select>
                                <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                            </div>
                            <span asp-validation-for="OnBehalfId" class="text-danger"></span>
                        </div>                    
                        <div class="form-group">
                            <label>Is Approved</label>
                            <div class="form-check">
                                <label class="custom-checkbox variation3 mb-0">
                                    <input asp-for="IsApproved" class="form-check-input" />
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="/Appraisal/Index?period=@period" class="btn btn-default">Back</a>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </article>
            </form>
        </div>
    </div>
</div>
<!-- Content End -->

@section Styles{

}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


