@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> @ViewData["Title"] </title>
    <link rel="shortcut icon" href="~/assets/images/favicon.png" type="image/x-icon" />
    <!-- ================== APP CSS START ================== -->
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <!-- ================== APP CSS END ================== -->
</head>
<body>


    <div class="auth-container d-flex align-items-center"  style="background-image: url('/assets/images/bg.jpg');  background-size:cover; background-position:center">
        <div class="col-lg-4 mx-auto">
            <div class="auth-form">
                <form id="account" method="post" autocomplete="off">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email" class="label"></label>
                        <div class="input-group">
                            <input asp-for="Input.Email" type="text" class="form-control" placeholder="อีเมล์" autocomplete="off"  value="">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="mdi mdi-check-circle-outline"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password" class="label"></label> 
                        <div class="input-group">
                            <input asp-for="Input.Password" type="password" class="form-control" autocomplete="off" placeholder="รหัสผ่าน" value="" >
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="mdi mdi-check-circle-outline"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary submit-btn btn-block">เข้าระบบ</button>
                    </div>
                    <div class="form-group d-flex justify-content-between">
                        <div class="form-check mt-0">
                            <label class="custom-checkbox success-checkbox">
                                <input asp-for="Input.RememberMe" type="checkbox" class="form-check-input" checked=""> จดจำผู้ใช้
                                <i class="input-helper"></i>
                            </label>
                        </div>
                        <a id="forgot-password" asp-page="./ForgotPassword" class="text-small forgot-password text-black">ลืมรหัสผ่าน</a>
                    </div>
                    @*<div class="form-group" >
                        <button class="btn btn-block g-login" disabled>
                            <img class="mr-3" src="~/assets/images/icon-google.svg" alt="">Log in with Google
                        </button>
                    </div>
                    <div class="text-block text-center my-3" hidden  >
                        <span class="text-small font-weight-500">Not a member ? </span>
                        <a asp-page="#"  class="text-black text-small" >Create new account </a>
                    </div>*@
                </form>
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
